.calculator
  display: flex
  flex-direction: column
  gap: ds.rem(23)
  width: 100%
  margin: 0 auto

  @include ds.mq(minSmall)
    padding: ds.rem(15) 0
    width: 100%

  @include ds.mq(minMedium)
    margin: 0

  @include ds.mq(maxSmall)
    max-width: ds.rem(384)

  @include ds.mq(maxExtraSmall)
    background-color: ds.$hex-white
    max-width: none
    width: 100%

    body[data-theme='dark'] &
      background-color: ds.$hex-black

  .module
    display: flex
    flex-grow: 1
    flex-direction: column
    gap: ds.rem(13)
    padding: ds.rem(17)

    @include ds.mq(minSmall)
      border: ds.rem(2) solid ds.$hex-light
      border-radius: ds.rem(17)

      body[data-theme='dark'] &
        border: ds.rem(2) solid ds.$hex-black

    > h2
      font-size: ds.rem(20)
      @include ds.fw(500)

    .notice
      font-weight: 500
      color: ds.$hex-accent-light

      a
        font-weight: 700
        color: ds.$hex-black
        text-decoration: underline

      body[data-theme='dark'] &
        color: ds.$hex-accent-dark

        a
          color: ds.$hex-white

    .usage
      display: flex
      flex-direction: column
      gap: ds.rem(12)
      border: ds.rem(2) solid rgba(ds.$hex-gray-dark, .2)
      border-radius: ds.rem(3)
      padding: ds.rem(12)

      body[data-theme='dark'] &
        border: ds.rem(2) solid rgba(ds.$hex-gray-light, .2)

      dl
        display: flex
        flex-direction: column
        align-items: center

        div
          display: flex
          gap: ds.rem(12)
          font-size: ds.rem(14)

          dt
            width: ds.rem(80)
            font-weight: 500
            opacity: .5
            text-align: right

          dd
            width: ds.rem(125)
            font-weight: 700
      p
        font-size: ds.rem(14)
        color: ds.$hex-accent-light

        body[data-theme='dark'] &
          color: ds.$hex-accent-dark

    .calc
      display: flex
      gap: ds.rem(7)

      @include ds.mq(maxSmall)
        flex-direction: column

  .display
    background-color: ds.$hex-light
    position: relative
    border-radius: ds.rem(3)
    padding: ds.rem(23)
    font-size: ds.rem(23)
    text-align: right
    user-select: none

    body[data-theme='dark'] &
      background-color: ds.$hex-black

    span
      position: absolute
      top: ds.rem(7)
      right: ds.rem(23)
      font-size: ds.rem(12)
      color: ds.$hex-accent-light

      body[data-theme='dark'] &
        color: ds.$hex-accent-dark

    strong
      display: block
      overflow: auto
      font-family: var(--doto)
      font-weight: 700
      font-variation-settings: "wght" 700

      &::-webkit-scrollbar
        height: 4px

      &::-webkit-scrollbar-thumb
        background-color: rgba(0, 0, 0, 0.3)
        border-radius: 2px

      &::-webkit-scrollbar-track
        background: transparent

  .group
    display: grid
    grid-template-columns: repeat(6, 1fr)
    gap: ds.rem(7)

    &.scientific
      @include ds.mq(minMedium)
        @include ds.col

      .button
        button
          background-color: rgba(ds.$hex-gray-dark, .2)

          body[data-theme='dark'] &
            background-color: rgba(ds.$hex-gray-light, .2)

  .groups
    display: flex
    gap: ds.rem(7)
    width: 100%

    @include ds.mq(minMedium)
      width: 40%

    .group
      &:nth-of-type(1)
        grid-template-columns: repeat(3, 1fr)
        width: 75%

        .button
          &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
            button
              background-color: rgba(ds.$hex-gray-light, .7)

              body[data-theme='dark'] &
                background-color: rgba(ds.$hex-gray-dark, .7)

          button
            font-size: ds.rem(22)
            background-color: rgba(ds.$hex-gray-light, .2)

            body[data-theme='dark'] &
              background-color: rgba(ds.$hex-gray-dark, .2)

      &:nth-of-type(2)
        @include ds.col
        grid-template-columns: repeat(1, 1fr)

  .button
    button
      width: 100%
      height: ds.rem(50)
      border-radius: ds.rem(25)
      font-family: var(--rbto)
      font-size: ds.rem(14)
      text-align: center

      @include ds.mq(minMedium)
        height: ds.rem(53)
        border-radius: ds.rem(26)
        font-size: ds.rem(16)

      &.symbol
        font-size: ds.rem(16)

        @include ds.mq(minMedium)
          font-size: ds.rem(18)

      &.backspace
        font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

  .operator
    button
      background-color: ds.$hex-accent-dark
      font-size: ds.rem(24)

      body[data-theme='dark'] &
        background-color: ds.$hex-accent-light
